{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<header class="header">
    <button class="button">
        <img width="24px" height="24px" src="/img/header__avatar.png">
    </button>
</header>

<h1 class="title">Коммьюніті</h1>




{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}